.chakra-drawer__body {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  justify-content: space-between;
}

.chakra-drawer__positioner {
  max-width: 150px;
}

.chakra-button.chakra-drawer__closeTrigger {
  background: none;
  max-height: 30px;
  max-width: 3px;
}
